<div class="news">
  <div
    class="table-responsive"
  >
    <table class="table table-sm table-borderless" style="margin: 0px">
      {% for item in site.data.resume.work %}
        {% if item.homepage %}
          <tr>
            <!-- add an image here! -->
            {% if item.img %}
              <th scope="row" id="date_width" style=" padding-right: 10px; padding-left: 0px !important">
                {% include figure.liquid home=true path=item.img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" style="padding: 15px" %}
              </th>
            {% endif %}

            <td style="vertical-align: middle;">
              {% if item.redirect == blank %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.homepage_title }}</a>
                {%- if item.homepage_description %}:{% endif %}
                <span style="font-size: .875rem">{{ item.homepage_description }}</span>

              {% elsif item.redirect contains '://' %}
                <a class="news-title" href="{{ item.redirect }}" target="_blank">{{ item.homepage_title }}</a>
                {%- if item.homepage_description %}:{% endif %}
                <span style="font-size: .875rem">{{ item.homepage_description }}</span>
              {% else %}
                <a class="news-title" href="{{ item.redirect | relative_url }}">{{ item.homepage_title }}</a>
              {% endif %}
              <br>
              <span style="font-size: .75rem">
                {% if item.startDate %}
                  {{ item.startDate | date: '%b %Y' }}
                  {% if item.endDate %}
                    - {{ item.endDate | date: '%b %Y' }}
                  {% else %}
                    - Present
                  {% endif %}
                {% endif %}
                {% if item.startDate and item.homepage_keyword %}
                  &nbsp; &middot; &nbsp;
                {% endif %}
                {% if item.homepage_keyword %}
                  {{ item.homepage_keyword }}
                {% endif %}
                {% if item.location %}
                  &nbsp; &middot; &nbsp;
                  {{ item.location }}
                {% endif %}
              </span>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      {% for item in site.data.resume.education %}
        {% if item.homepage %}
          <tr>
            <!-- add an image here! -->
            {% if item.img %}
              <th scope="row" id="date_width" style=" padding-right: 10px; padding-left: 0px !important">
                {% include figure.liquid home=true path=item.img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" style="padding: 15px" %}
              </th>
            {% endif %}

            <td style="vertical-align: middle;">
              {% if item.redirect == blank %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.homepage_title }}</a>
                {%- if item.homepage_description %}:{% endif %}
                <span style="font-size: .875rem">{{ item.homepage_description }}</span>

              {% elsif item.redirect contains '://' %}
                <a class="news-title" href="{{ item.redirect }}" target="_blank">{{ item.homepage_title }}</a>
                {%- if item.homepage_description %}:{% endif %}
                <span style="font-size: .875rem">{{ item.homepage_description }}</span>
              {% else %}
                <a class="news-title" href="{{ item.redirect | relative_url }}">{{ item.homepage_title }}</a>
              {% endif %}
              <br>
              <span style="font-size: .75rem">
                {% if item.startDate %}
                  {{ item.startDate | date: '%b %Y' }}
                  {% if item.endDate %}
                    - {{ item.endDate | date: '%b %Y' }}
                  {% else %}
                    - Present
                  {% endif %}
                {% endif %}
                {% if item.startDate and item.homepage_keyword %}
                  &nbsp; &middot; &nbsp;
                {% endif %}
                {% if item.homepage_keyword %}
                  {{ item.homepage_keyword }}
                {% endif %}
                {% if item.location %}
                  &nbsp; &middot; &nbsp;
                  {{ item.location }}
                {% endif %}
              </span>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
