<div class="news">
    {% if site.key_projects != blank %}
        {% assign key_projects_size = site.projects | size %}
        <div
            class="table-responsive"
            {% if site.key_projects.scrollable and key_projects_size > 3 %}
                style="max-height: 60vw"
            {% endif %}
        >
            <table class="table table-sm table-borderless" style="margin: 0px">
                {% assign sorted_projects = site.projects | sort: 'importance' %}

                {% if site.key_projects.limit %}
                    {% assign key_projects_limit = site.key_projects.limit %}
                {% endif %}
                {% for item in sorted_projects %}
                    {% if item.key %}
                        <tr>
                            <!-- add an image here! -->
                            {% if item.img %}
                                <th
                                    scope="row"
                                    id="date_width"
                                    {% if include.div %}
                                        style="padding-right: 10px; padding-left: 0px !important"
                                    {% endif %}
                                >
                                    {% include figure.liquid home=true path=item.key_img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" id="project_img_home" %}
                                </th>
                            {% endif %}

                            <td style="vertical-align: middle;">
                                {% if item.redirect == blank %}
                                    <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                                    {% if include.div %}
                                        {%- if item.description %}:{% endif %}
                                        {{ item.description }}
                                    {% endif %}

                                {% elsif item.redirect contains '://' %}
                                    <a class="news-title" href="{{ item.redirect }}" target="_blank">{{ item.title }}</a>
                                    {% if include.div %}
                                        {%- if item.description %}:{% endif %}
                                        {{ item.description }}
                                    {% endif %}
                                {% else %}
                                    <a class="news-title" href="{{ item.redirect | relative_url }}">{{ item.title }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>No projects so far...</p>
    {% endif %}
</div>
