<div class="news">
  {% if site.favs != blank %}
    {% assign favs_size = site.favs | size %}
    <div
      class="table-responsive"
    >
      <table class="table table-sm table-borderless" style="margin: 0px">
        {% assign favs = site.favs | reverse %}

        {% if site.latest_favs.limit %}
          {% assign favs_limit = site.latest_favs.limit %}
        {% endif %}
        {% for item in favs limit: favs_limit %}
          <tr>
            <!-- add an image here! -->
            {% if item.img %}
              <th scope="row" id="date_width" style=" padding-right: 10px; padding-left: 0px !important">
                {% if item.redirect %}
                  <a class="news-title" href="{{ item.redirect }}" target="_blank">
                {% elsif item.inline %}

                {% else %}
                  <a href="{{ item.url | relative_url }}">
                {% endif %}
                {% include figure.liquid home=true path=item.img sizes="(min-width: 768px) 156px, 50vw" alt="project thumbnail" %}
                {% if item.link %}
                  </a>
                {% endif %}
              </th>
            {% endif %}

            <td style="vertical-align: middle;">
              {% if item.inline %}
                {% if item.redirect == blank -%}
                  {{- item.title -}}
                  <span style="font-size: .75rem; font-weight: 20; margin-left: 5px">
                    {%- if item.creator -%}
                      by {{ item.creator }}
                    {% endif -%}
                  </span>
                {% endif %}
              {% elsif item.redirect %}
                {% if item.redirect contains '://' %}
                  <a class="news-title" href="{{ item.redirect }}" target="_blank">{{ item.title }}</a
                  ><span style="font-size: .75rem; font-weight: 20; margin-left: 5px">
                    {%- if item.creator %}by {{ item.creator }}{% endif -%}
                  </span>
                  <svg width="2rem" height="1.2rem" viewBox="0 0 60 35" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9"
                      class="icon_svg-stroke"
                      stroke="#999"
                      stroke-width="1.5"
                      fill="none"
                      fill-rule="evenodd"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                {% else %}
                  <a class="news-title" href="{{ item.redirect | relative_url }}">{{ item.title }}</a>
                {% endif %}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a
                ><span style="font-size: .75rem; font-weight: 20; margin-left: 5px">
                  {%- if item.creator %}by {{ item.creator }}{% endif -%}
                </span>
              {% endif %}
              <br>
              <span style="font-size: .75rem">
                {{- item.date | date: '%b %d, %Y' }} ·
                {%- for category in item.categories %}
                  <span style="font-size: .75rem; font-weight: 200">
                    <a href="{{ category | slugify | prepend: '/favs/' | relative_url }}">
                      {%- include scripts/category-icon.liquid category=category styles="color: var(--global-theme-color) !important" -%}
                    </a></span
                  >
                  {% if item.vinyl %}
                    ·
                    <a href="/vinyls/">
                      {%- include scripts/category-icon.liquid category="vinyls" styles="color: var(--global-theme-color) !important" -%}
                    </a>
                  {%- endif %}
                  {% if item.perfect %}
                    ·
                    <a href="/goats/">
                      {%- include scripts/category-icon.liquid category="goats" styles="color: var(--global-theme-color) !important" -%}
                    </a>
                  {%- endif %}
                {% endfor %}
              </span>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}

  {% endif %}
</div>
