---
layout: default
---
<div class="post">
  <header class="post-header">
    {% if page.profile %}
      <div id="profile-picture-home" class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid path = profile_image_path class = profile_image_class sizes = sizes alt = page.profile.image
            cache_bust = true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div id="more-info-home" class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    {% if page.animation %}
      <script type="text/javascript" src="/assets/js/typing.js"></script>
      <h1 class="post-title">
        <noscript>
          <span class="font-weight-normal" id="bold-name-txt">a</span>ndrew <span class="font-weight-normal" id="bold-name-txt">s</span>.
          <span class="font-weight-normal" id="bold-name-txt">boyer</span>
        </noscript>
        <span id="text"> </span>
      </h1>
    {% else %}
      <h1 class="post-title">
        <span class="font-weight-normal" id="bold-name-txt">a</span>ndrew <span class="font-weight-normal" id="bold-name-txt">s</span>.
        <span class="font-weight-normal" id="bold-name-txt">boyer</span>
      </h1>
    {% endif %}
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div id="info-home" class="clearfix">{{ content }}</div>
    <hr>
    <div class="top-div">
      {% if page.news and site.announcements.enabled %}
        <div>
          <h2>
            <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
          </h2>
          {% include news.liquid limit=true %}
          {% if page.latest_posts %}
            <h2 style="margin-top: 10px">
              <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
            </h2>
            {% include latest_posts.liquid %}
          {% endif %}
        </div>
      {% endif %}
      {% if page.notes %}
        <div class="right-div">
          <h2>
            <a href="{{ '/notes/' | relative_url }}" style="color: inherit">notebook</a>
          </h2>
          {% include notes.liquid limit=true %}
        </div>
      {% endif %}
    </div>

    <!-- Latest posts -->

    <!-- favorite projects -->
    {% if page.key_projects %}
      <h2 style="margin-top: 15px">
        <hr>

        <a href="{{ '/projects/' | relative_url }}" style="color: inherit">key projects</a>
      </h2>
      {% include key_projects.liquid %}
    {% endif %}
    <!-- do latest post thing but for projects -->

    {% if page.current_roles %}
      <h2 style="margin-top: 15px">
        <hr>
        <a href="{{ '/resume/' | relative_url }}" style="color: inherit">current roles</a>
      </h2>
      {% include current_roles.liquid %}
    {% endif %}

    {% if page.favs %}
      <h2 style="margin-top: 15px">
        <hr>

        <a href="{{ '/favs/' | relative_url }}" style="color: inherit">reccomendations</a>
      </h2>
      {% include latest_favorites.liquid %}
    {% endif %}

    {% if page.notes %}
      <div class="other-div">
        <h2 style="margin-top: 15px">
          <hr>
          <a href="{{ '/notes/' | relative_url }}" style="color: inherit">notebook</a>
        </h2>
        {% include notes.liquid limit=true %}
      </div>
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers -%}
      <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
      {%- include selected_papers.html %}
    {%- endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>
