---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign categories = page.categories | join: '' %}
{% assign authors = page.authors | join: '' %}

{% if page._styles %}
    <!-- Page/Post style -->
    <style type="text/css">
        {{ page._styles }}
    </style>
{% endif %}

{% assign url_beginning = page.url | slice: 0, 6 %}

<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.subtitle %}
            <p class="post-subtitle">{{ page.subtitle }}</p>
        {% endif %}
        <p class="post-meta">
            {% if page.author %}{{ page.author }}{% endif %}
            {%- if page.multi_date -%}
            {%- else -%}
                {%- if page.author -%}&nbsp; &middot; &nbsp;{%- endif -%}
                {{ page.date | date: '%B %d, %Y' -}}
            {% endif -%}
            {%- if page.time %}&nbsp; &middot; &nbsp;{{ page.time }}{% endif -%}
            {%- if page.location %}&nbsp; &middot; &nbsp;<i class="fa-solid fa-location-dot"></i> {{ page.location }}{% endif -%}
            {% if page.meta %} • {{ page.meta }}{% endif %}

            {% if authors != '' %}
                &nbsp; &middot; &nbsp;
                {% for author in page.authors %}
                    {% if url_beginning == '/blog/' %}
                        <a href="{{ author | slugify | prepend: '/blog/category/' | prepend: site.baseurl}}">
                            <i id="light-tag" class="fa-solid fa-at fa-sm"></i> {{ author -}}
                        </a>
                        &nbsp;
                    {% else %}
                        <i class="fa-solid fa-at fa-sm"></i> {{ author }} &nbsp;
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <p class="post-tags">
            {% if page.unfinished %}
                <span style="font-size: .875em"> <i class="fa-solid fa-pen fa-sm"></i> <em>note is in progress</em> <span>
            {% endif %}
            {% if url_beginning == '/blog/' %}
                <a href="{{ year | prepend: '/blog/' | prepend: site.baseurl}}"> <i class="fa-solid fa-calendar fa-sm"></i> {{ year }} </a>
            {% endif %}
            {% if tags != '' %}
                &nbsp; &middot; &nbsp;
                {% for tag in page.tags %}
                    {% if url_beginning == '/blog/' %}
                        <a href="{{ tag | slugify | prepend: '/blog/tag/' | prepend: site.baseurl}}">
                            <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag -}}
                        </a>
                        &nbsp;
                    {% else %}
                        <i class="fa-solid fa-hashtag fa-sm"></i> {{ tag }} &nbsp;
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if categories != '' %}
                &nbsp; &middot; &nbsp;
                {% for category in page.categories %}
                    {% assign author_string = category | slugify %}
                    {% if site.all_authors contains author_string %}
                    {% else %}
                        {% if url_beginning == '/blog/' %}
                            <a href="{{ category | slugify | prepend: '/blog/category/' | prepend: site.baseurl}}">
                                <i class="fa-solid fa-tag fa-sm"></i> {{ category -}}
                            </a>
                            &nbsp;
                        {% else %}
                            <i class="fa-solid fa-tag fa-sm"></i> {{ category }} &nbsp;
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
    </header>

    <article class="post-content">
        {% if page.admin_note and page.note %}
            <div class="row g-3">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h3 class="author-note-title"><i id="note-icon" class="fas fa-at"></i>&nbsp;a note from asboyer</h3>
                    <div id="author-note">{{ page.admin_note }}</div>
                </div>
                <div class="col-md-6">
                    {% if page.warning %}
                        <h3 class="author-note-title"><i id="note-icon-warning" class="fa-solid fa-triangle-exclamation"></i>&nbsp;a note from the author</h3>
                        <div id="author-note-warning">{{ page.note }}</div>
                    {% else %}
                        <h3 class="author-note-title"><i id="note-icon" class="fas fa-sticky-note"></i>&nbsp;a note from the author</h3>
                        <div id="author-note">{{ page.note }}</div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            {% if page.admin_note %}
                <h3 class="author-note-title"><i id="note-icon" class="fas fa-at"></i>&nbsp;a note from asboyer</h3>
                <div id="author-note">{{ page.admin_note }}</div>
            {% endif %}
            {% if page.note %}
                {% if page.warning %}
                    <h3 class="author-note-title"><i id="note-icon-warning" class="fa-solid fa-triangle-exclamation"></i>&nbsp;a note from the author</h3>
                    <div id="author-note-warning">{{ page.note }}</div>
                {% else %}
                    <h3 class="author-note-title"><i id="note-icon" class="fas fa-sticky-note"></i>&nbsp;a note from the author</h3>
                    <div id="author-note">{{ page.note }}</div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if page.note or page.admin_note %}
            <hr>
        {% endif %}

        {% if page.toc and page.toc.beginning %}
            <div id="table-of-contents">
                {% toc %}
            </div>
            <hr>
        {% endif %}
        <div id="markdown-content">
            {{ content }}
        </div>
    </article>

    {% if page.related_publications %}
        <div class="post-references">
            <h2>References</h2>
            <div class="publications">
                {% bibliography --cited_in_order %}
            </div>
        </div>
    {% endif %}

    {% if site.related_blog_posts.enabled %}
        {% if page.related_posts == null or page.related_posts %}
            <div class="post-related">
                {% include related_posts.liquid %}
            </div>
        {% endif %}
    {% endif %}

    {% if site.disqus_shortname and page.disqus_comments %}
        {% include disqus.liquid %}
    {% endif %}
    {% if site.giscus and page.giscus_comments %}
        {% include giscus.liquid %}
    {% endif %}

    {% if page.notebook %}
        <style>
            #markdown-content {
                font-size: 1.1rem !important;
                line-height: 1.4 !important;
            }
            .container.mt-5 {
                max-width: 600px !important;
            }
        </style>
    {% endif %}

    {% if page.text_note %}
        <style>
            .container.mt-5 {
                max-width: 550px !important;
            }
        </style>
    {% endif %}
</div>
